.u-center-text {
    text-align: center;
}

.u-margin-bottom-big{
    margin-bottom: 8rem;
}

.u-margin-bottom-medium{
    margin-bottom: 4rem;
}

.u-margin-bottom-small{
    margin-bottom: 1.5rem;
}

.u-linear-gradient-primary{
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text; // va fixer le background sur le text seulement.
    color: transparent;
}